@import './global-classes.css';
@import './header.css';
@import './intro.css';
@import './categories.css';
@import './news.css';
@import './partners.css';
@import './posts.css';
@import './contact.css';
@import './footer.css';
@import './font-icons/style.css';
@import './fonts/style.css';
@import './media_queries.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button:hover, a:hover {
    cursor: pointer;
    opacity: 0.5;
}

input, textarea, button {
    outline: none;
}

ul {
    list-style-type: none;
}

::-webkit-input-placeholder { 
    color: #868686;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 42px;
  }
  
  :-ms-input-placeholder {
    color: #868686;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 42px;
  }
  
  ::placeholder {
    color: #868686;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 42px;
  }

.app {
    font-family: 'Roboto-light', sans-serif;
}



