
.categories {
    color: #999;
}

.categories_container {
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 110px;
}

.categories_container::after {
    clear: both;
    content: "";
    display: table;
}

.categories_item {
    float: left;
    max-width: 262px;
    width: 25%;
    margin-bottom: 60px;
}

.categories_item:hover {
    background-color: #42a5d8;;;
    border-radius: 5px;
    color: #fff;
}

.categ_img {
    padding-left: 5px;
    float: left;
}

.categ_text {
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 10px;
    min-width: 80px;
    overflow: hidden;
    white-space: nowrap;
}
