.categories {
    margin-top: 100px;
}

.categories_item {
    float: left;
    max-width: 262px;
    width: 25%;
    margin-bottom: 60px;
}

.categories_item:hover {
    background-color: #42a5d8;
    border-radius: 5px;
    color: #fff;
}

.categories_item_link {
    color: #999;
}

.categories_item_link:hover {
    opacity: unset;
}

.categ_img {
    padding: 5px;
    float: left;
    margin-right: 10px;
}

.global_text.categ_text {
    margin-top: 10px;
    min-width: 80px;
    overflow: hidden;
    white-space: nowrap;
}
