.contact {
    margin-top: 100px;
    max-height: 700px;
    overflow: hidden;
}

.contact_container {
    position: relative;
}

.contact_form {
    text-align: center;
}

.input_field, .textarea_field {
    width: 100%;
    border: none;
    text-indent: 20px;
}

.input_field {
    padding: 10px 0;
    margin-bottom: 35px;
    border-radius: 30px;
}

.textarea_field {
    border-radius: 20px;
    padding-bottom: 80px;
}

.contact_btn {
    background-color: #fff;
    color: #868686;    
    border: none;
    margin-top: 50px;
}

#map {
    min-height: 700px;
    width: 100%;
}

.contact_form_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 5% auto;
}

.contact_form_container form {
    width: 50%;
    max-width: 650px;
    margin: 0 auto;
}

