header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    padding: 70px 20% 0 15%;
    z-index: 100;
    width: 100%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header_logo_container {
    float: left;
}

.header_logo_container a:hover {
    opacity: 1;
}

.nav_list {
    float: right;
    margin-left: 40px;
}

.nav_list:last-of-type {
    margin-left: 0;
}

nav .link{
    color: #fff;
}

nav .link:hover {
    color: #ffbc18;
}

nav .link.active {
    border-bottom: 2px solid #ffbc18;
    padding-bottom: 12px;
}

.menu_toggle {
    color: #fff;
    float: right;
    line-height: 20px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    vertical-align: center;
}
