header {
    padding-top: 70px;
    background-color: #42a5d8;
    color: #fff;
}

.header_container::after {
    content: "";
    clear: both;
    display: table;
}

.header_container {
    max-width: 1030px;
    margin: 0 auto;
}

.header_logo_container {
    float: left;
}

.header_nav {
    float: right;
}

.header_nav ul {
    list-style-type: none;
}

.header_nav ul li {
    float: left;
    margin-right: 32px;
    margin-top: 5px;
}

.header_nav .link {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.header_nav .link:hover {
    color: #ffbc18;
}

.header_nav .active {
    border-bottom: 2px solid #ffbc18;
    padding-bottom: 12px;
}

.toggle {
    position: absolute;
    right: 35%;
    top: 70px;
    z-index: 10;
    font-size: 35px;
    display: none;
}

.toggle i:hover {
    cursor: pointer;
}

.nav_list {
    display: block;
}

.responsive {
    display: none;
}
