.intro {
    background-color: #42a5d8;
    color: #fff;
    padding-top: 84px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.top_text {
    font-size: 80px;
    line-height: 70px;
    color: #febb18;
    font-weight: 500;
    margin-bottom: 40px;
}

.bottom_text {
    font-size: 28px;
    line-height: 42px;
    font-weight: 300;
}

.hero_texts {
    float: left;
    max-width: 25%;
}

.img_container {
    width: 100%;
}

.img_container img {
    margin-left: 10%;
    max-width: 700px;
}

/* --------------------------------- Search ---------------------------------- */

.search_container {
    text-align: center;
    margin: 100px auto 0;
    padding-bottom: 62px;
}

.search_field, .search_button {
    padding: 7px 0;
    border: 6px solid #56acd9;
    min-width: fit-content;
}

.search_field {
    border-radius: 25px 0px 0px 25px;
    max-width: 375px;
    width: 30%;
    font-size: 16px;
    margin-right: -4px;
    text-indent: 20px;
    border-right: none;
}

.search_button {
    border-radius: 0px 25px 25px 0px;
    max-width: 94px;
    width: 10%;
    padding: 7px;
    background-color: #ffc12c;
    font-size: 16px;
    color: #fff;
    border-left: none;
}

/* ---------------------------------- Slider_arrows ----------------------------------- */
.slider_arrows {
   position: relative;
}

.slider_prev, .slider_next {
    position: absolute;
    top: 245px;
}

.slider_prev {
    left: 50px;
}

.slider_next {
    right: 115px;
}

.owl-nav .elipse_next {
    position: absolute;
    top: 25%;
    right: -10%;
}

.owl-nav .elipse_prev {
    position: absolute;
    top: 25%;
    left: -10%;
}



