@media (max-width: 1920px) {
    .header_logo_container {
        margin-left: 15%;
    }
}

@media (max-width: 1440px) {
    /* -------------------------- Header ------------------------------ */
    
    .header_logo_container {
        margin-left: 0;
    }

    .logo {
        width: 100%;
    }

    /* ---------------------- Intro (Hero) --------------------------- */
    .top_text {
        font-size: 60px;
    }
    
    .bottom_text {
        font-size: 24px;
    }
    
    .owl-carousel .owl-item img {
        max-width: 90%;
    }

    .owl-nav .elipse_prev, .owl-nav .elipse_next {
        width: 54px;
    }
}

@media (max-width: 1024px) {

    /* ------------------- Global classes ------------------- */

    .global_head {
        font-size: 32px;
    }

    /* ----------------------- Header ---------------------- */
    
    .header_logo {
        width: 160px;
    }

    .nav_list {
        margin-left: 20px;
    }

    /* ------------------- Intro ------------------------- */

    .intro {
        padding-top: 20px;
    }

    .hero {
        max-width: 90%;
    }

    .logo {
        width: 80%;
    }
   
    .top_text {
        font-size: 42px;
        line-height: 54px;
        margin: 10px;
    }
    
    .bottom_text {
        font-size: 18px;
    }
    
    .img_container img {
        max-width: 580px;
    }

    .owl-nav .elipse_next, .owl-nav .elipse_prev {
        width: 48px;
        
    }
    
    .owl-nav .elipse_next {
        right: -5%;
    }

    .search_container {
        margin: 60px auto 0;
    }

    .search_field, .search_button {
        padding: 5px 0;
        margin-right: -4px;
    }
        
    .search_field {
        font-size: 14px;
    }
    
    .search_button {
        font-size: 14px;
    }

    /* ---------------------- Categories -------------------------- */

    .categories_item {
        width: 30%;
        margin: 0 20px 20px 0;
    }

    .categories_item img {
        width: 60px;
    }

    /* ---------------------------- News ----------------------------- */

    .news_list {
        margin: 30px auto 20px;
    }

    .news_item {
        margin-bottom: 10px;
    }

    /* -------------------------- Partners -------------------------------- */
    
    .partners_slider {
        margin-top: 60px;
    }

    .partners_slider_img_prev {
        margin-right: 0;
    }

    .partners_logo_container img {
        width: 120px;
        margin-left: 65px;
    }

    .partners_logo_container {
        display: none
    }

    .partners_logo_container:first-of-type {
        display: block;
    }

    .partners_logo_container:nth-of-type(2n) {
        display: block;
    }

    .partners_logo_container {
        margin-top: 5px;
    }

    /* --------------------- Posts ------------------------ */

    .posts_list {
        margin: 60px auto 0;
        margin-top: 60px;
    }

    .posts_item {
        width: 48%;   
    }

    .posts_title, .posts_description, .posts_date {
        margin-top: 10px;
        margin-left: 10%;
    }

    .posts_date {
        margin-top: 15px;
    }

    .posts_item:nth-of-type(3n+2) {
        margin: 0;
    }

    .posts_item:nth-of-type(2n+1) {
        clear: both;
        margin-right: 15px;
    }

    .posts_btn_container {
        margin-top: 40px;
    }
    
    /* .posts_btn {
        border-width: 3px;
    } */

     /* -------------------- Contact ----------------------- */
     
    
    /* -------------------- Footer top --------------------- */

    .footer_top_content_section {
        margin-right: 30px;
    }

    .footer_top_content_section .section_head {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .footer_top_content_section .section_text {
        line-height: 20px;
        max-height: 140px;
        overflow: hidden;
    }

    .section_text.signup {
        max-height: 60px;
    }

    .tweet {
        margin-bottom: 5px;
        max-height: 80px;
    }

    .tweet img {
        padding-bottom: 54px;
    }

    .feed_back_field, .feed_back_submit {
        padding: 3px;
    }

    .feed_back_field {
        width: 72%;
        font-size: 14px;
    }

    .feed_back_submit {
        border-radius: 0px 25px 25px 0px;
        width: 26%;
        font-size: 12px;
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    /* ------------------- Footer bottom -------------------- */
    
    .footer_bottom_business_logo {
        width: 160px;
    }
}

@media (max-width: 768px) {

    /* ----------------- Global classes ------------------ */

    .global_section_container {
        width: 45%;
    }

    .global_head {
        font-size: 28px;
    }

    .global_text {
        font-size: 14px;
    }

    .global_button_load {
        min-width: 120px;
        font-size: 14px;
        padding: 10px 0;
    }

    header {
        padding: 0 60px;
    }

    .menu_toggle {
        display: block;
    }

    nav {
        position: absolute;
        width: 100%;
        height: calc(100vh);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.8s;
    }

    nav.active {
        left: 0;
    } 

    nav ul {
        display: block;
        text-align: center;
    }

    .nav_list {
        float: none;
        padding: 20px;
        margin-left: 0;
        font-size: 20px;
    }
        
    /* ---------------------------- Intro ---------------------------- */

    .hero {
        flex-wrap: wrap;
        text-align: center;
    }

    .hero_texts {
        max-width: 100%;
    }

    .top_text {
        font-size: 20px;
        line-height: 28px;
    }
    
    .bottom_text {
        margin-left: 15px;
        font-size: 12px;
        line-height: 20px;
    }
  
    .img_container {
        margin-top: 10px;
    }

    .owl-nav .elipse_next, .owl-nav .elipse_prev {
        width: 28px;
       
    }

    .owl-nav .elipse_prev {
        left: -15%;
    }

    .owl-nav .elipse_next {
        right: -10%;
    }
    

    .search_container {
        margin: 40px auto 0;
    }

    .search_field, .search_button {
        padding: 5px;
        border-width: 3px;
    }
        
    .search_field {
        font-size: 12px;
        text-indent: 16px;
    }
    
    .search_button {
        font-size: 12px;
    }

    /* ---------------------- Categories -------------------------- */

    .categ_section {
        width: 60%;
    }

    .categories_item {
        width: 45%;
        margin: 0 10px 20px 0;
    }

    .categories_item img {
        width: fit-content;
        max-width: 60px;
    }

     /* ---------------------------- News ----------------------------- */

    .news_item {
        width: 80%;
        margin: 0 10% 40px 10%;
    }

    .news_item:nth-of-type(even) {
        margin-left: 10%;
    }

    .global_text.news_title, .global_text.news_description {
        margin: 20px;
    }

    /* ------------------------ Partners ---------------------------- */

    .partners {
        margin-top: 40px;
        min-height: 180px;
    }

    .global_head_container.partners_head_container {
        margin-top: 40px;
    }

    .partners_slider {
        margin-top: 40px;
    }

    .partners_logo_container img {
        width: 140px;
        margin-left: 80px;
    }

    .partners_logo_container:nth-of-type(n) {
        display: none
    }

    .partners_logo_container:first-of-type {
        display: block;
    }

    .partners_logo_container:nth-of-type(3n) {
        display: block;
    }

    .partners_logo_container {
        margin-top: 5px;
    }

    /* ------------------------- Posts ---------------------------- */

    .posts_item {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .posts_item:nth-of-type(3n+2) {
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .posts_title, 
    .posts_description, 
    .posts_date {
        margin-top: 10px;
    }

    .posts_btn_container {
        margin-top: 20px;
    }
    
     /* ------------------------ Contact --------------------------- */

     .contact {
        max-height: 500px;
        margin-top: 40px;
    }
    
    .input_field, .textarea_field {
        text-indent: 16px;
    }
    
    .input_field {
        padding: 7px 0;
        margin-bottom: 20px;
    }
    
    .textarea_field {
        padding-bottom: 60px;
    }

/* -------------------- Footer top --------------------- */
  
    .footer_top_content {
        margin-top: 10px;
        padding: 5px 0;
    }

    .footer_top_content_section {
        float: none;
        width: 100%;
        margin: 0 auto 15px;
    }

    .footer_top_content_section .section_head {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .footer_top_content_section .section_text {
        max-height: 90px;
        line-height: 22px;
    }

    .section_container {
        max-width: 80%;
        margin: 0 auto;
    }

    .section_container img {
        margin-right: 15px;
        width: 25px;
    }

    .tweet {
        margin-bottom: 15px;
        max-height: 40px;
    }

    .tweet img {
        padding-bottom: 30px;
    }

    .feed_back_field, .feed_back_submit {
        padding: 2px;
    }

    .feed_back_field {
        width: 60%;
        font-size: 14px;
    }

    .feed_back_submit {
        width: 20%;
        font-size: 12px;
        padding-top: 3px;
        padding-bottom: 1px;
    }

/* ------------------- Footer bottom -------------------- */

    .footer_bottom {
        min-height: 135px;
    }

    .footer_bottom_content {
        max-width: 60%;
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .footer_bottom_content_section,
    .footer_bottom_content_section:first-of-type,
    .footer_bottom_content_section:last-of-type {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .social_icon {
        margin-top: 10px;
        margin-right: 15px;
    }

    .footer_bottom_business_logo {
        width: 120px;
    }

}

@media (max-width: 425px) {

    /* -------------- Global classes ---------------- */

    .global_head {
        font-size: 24px;
    }
    
    .global_text {
        font-size: 12px;
    }
    
    .global_button_load {
        min-width: 90px;
        font-size: 10px;
        padding: 5px 0;
    }

    /* ------------------------ Header --------------------------- */

    .header_nav .link {
        font-size: 10px;
        margin-left: 15%;
    }

    .logo {
        width: 50%;
    }

    .header_nav ul li {
        margin-top: 0;
    }

    .toggle {
        font-size: 20px;
        top: 66px;
    }

    /* ---------------------- Intro (Hero) --------------------------- */

    .hero {
        flex-wrap: wrap;
        max-height: none;
        overflow: none;
    }

    .hero_texts {
        max-width: 80%;
    }

    .top_text {
        font-size: 16px;
        line-height: 24px;
    }

    .bottom_text {
        font-size: 12px;
        line-height: 20px;
        max-height: 60px;
        overflow: hidden;
    }

    .owl-nav .elipse_next {
        right: -15%;
    }

    .owl-carousel .owl-item img {
        width: 80%;
    }
    
    .search_container {
        margin: 40px auto 0;
    }
        
    .search_field {
        width: 140px;
        font-size: 10px;
    }
    
    .search_button {
        width: 60px;
        font-size: 10px;
    }

    /* ---------------------- Categories -------------------------- */

    .categories_item {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 10%;
    }

    /* ---------------------------- News ----------------------------- */

    .news_list {
        max-width: 100%;
        margin: 30px auto 20px;
    }

    .global_text.news_title, .global_text.news_description {
        margin: 10px;
    }

    .news_item {
        width: 100%;
        margin: 0 0 40px 0;
    }

    .news_item:nth-of-type(even) {
        margin-left: 0;
    }

    .news_item a {
        margin-left: 10px;
    }

    /* --------------------- Partners ----------------------------- */

    .partners {
        min-height: 200px;
    }

    .global_head_container.partners_head_container{
        margin-top: 40px;
    }

    .partners_slider {
        margin-top: 40px;
    }

    .partners_logo_container img {
        width: 100px;
        margin-left: 90px;
    }

    .partners_logo_container:nth-of-type(n) {
        display: none
    }

    .partners_logo_container:first-of-type {
        display: block;
    }

    .partners_logo_container {
        margin-top: 5px;
    }

    /* --------------- Posts ---------------------- */

    .posts_list {
        max-width: 100%;
        margin: 60px auto 0;
    }

    .posts_item {
        width: 100%;
        margin-left: 0;
    }

    .posts_item:nth-of-type(3n+2) {
        margin-left: 0;
    }

    .posts_date {
        max-height: 14px;
    }

    .posts_title, 
    .posts_description,
     .posts_date {
        line-height: 16px;
        margin-top: 10px;
    }

    .posts_title {
        max-height: 34px;
        margin-bottom: 10px;
    }

    .posts_description {
        max-height: 98px;
        overflow: hidden;
    }

    .posts_btn_container {
        margin-top: 10px;
    }
    
    .posts_btn {
        /* width: 35%;
        font-size: 12px; */
        line-height: 18px;
    }

    /* -------------------- Contact ----------------------- */
    .contact {
        max-height: 400px;
        margin-top: 40px;
    }
    
    .contact_form_container form {
        margin-top: 5%;
     }

    .input_field, .textarea_field {
        text-indent: 14px;
    }
    
    .input_field {
        padding: 3px 0;
    }

    .textarea_field {
        padding-bottom: 40px;
    }

    .contact_btn {
        margin-top: 20px;
    }

/* -------------------- Footer top --------------------- */

.footer_top_content_section .section_text {
    line-height: 18px;
    max-height: 52px;
}

.section_container img {
    margin-right: 10px;
    width: 20px;
}

.tweet {
    max-height: 36px;
}

.tweet img {
    padding-bottom: 40px;
}

.user_email {
    margin-right: 5px;
}

.feed_back_field, .feed_back_submit {
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.feed_back_field {
    width: 50%;
    font-size: 12px;
}

.feed_back_submit {
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* ------------------- Footer bottom -------------------- */

.footer_bottom {
    min-height: 90px;
}

.footer_bottom_content {
    max-width: 80%;
    margin-top: 10px;
}

.first_parag_link {
    line-height: 18px;
}

.footer_bottom_content_section, 
.footer_bottom_content_section:first-of-type, 
.footer_bottom_content_section:last-of-type {
    margin-bottom: 10px;
}

.footer_bottom_business_logo {
    width: 100px;
}

}

@media (max-width: 320px) {

    /* --------------- Global classes ---------------- */

    .global_head {
        font-size: 20px;
    }

    .global_button_load {
        min-width: 80px;
        padding: 5px 0;
    }
    
    /* ------------------------ Header --------------------------- */
    
    .toggle {
        top: 69px;
        font-size: 16px;
    }

    .header_nav .link {
        font-size: 10px;
        margin-left: 30%;
    }

    /* ---------------------- Intro (Hero) --------------------------- */
    
    .hero_texts {
        max-width: 80%;
    }

    .bottom_text {
        margin-left: 10%;
        font-size: 10px;
        line-height: 20px;
        width: 100%;
    }

    .owl-nav .elipse_next, .owl-nav .elipse_prev {
        width: 20px;
    }

    .search_container {
        margin: 30px auto 0;
    }

    .search_field, .search_button {
        padding: 3px;
    }
        
    .search_field {
        font-size: 8px;
    }
    
    .search_button {
        font-size: 8px;
    }

    /* ---------------------- Categories -------------------------- */
    
    .categories_item {
        margin-bottom: 20px;
    }

    .categories_item img {
        width: 48px;
        margin-right: 5%;
    }

    /* ----------------------- News ------------------------- */
   
    .global_text.news_title, .global_text.news_description {
        margin: 5px 10px;
    }

    .news_item a {
        margin-left: 12px;
    }

    /* --------------------- Partners ----------------------------- */

    /* .partners {
        margin-top: 40px;
        min-height: 200px;
    }

    .global_head_container.partners_head_container {
        margin-top: 40px;
    }

    .partners_slider {
        margin-top: 40px;
    }

    .partners_logo_container img {
        width: 100px;
        margin-left: 45px;
    }

    .partners_logo_container:nth-of-type(n) {
        display: none
    }

    .partners_logo_container:first-of-type {
        display: block;
    }

    .partners_logo_container {
        margin-top: 5px;
    } */

    /* ------------------------- Posts ------------------------ */

    .posts_date {
        margin-top: 15px;
    }

    .posts_title, .posts_description, .posts_date {
        line-height: 14px;
        margin-top: 10px;
        margin-left: 15px;
    }
 
    .posts_title {
        max-height: 30px;
    }
    
    .posts_btn_container {
        margin-top: 10px;
    }
    
    .posts_btn {
        border: 1px solid #ededed;;
    }

    /* -------------------- Contact ----------------------- */
    
    .contact_form_container form {
       margin-top: 10%;
    }

    .textarea_field {
        padding-bottom: 20px;
    }
    
    .input_field {
        padding: 0;
    }

/* -------------------- Footer top --------------------- */
 
    .footer_top_content_section .section_head {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer_top_content_section .section_text {
        line-height: 18px;
    }

    .section_container img {
        margin-right: 10px;
        width: 20px;
    }

    .tweet img {
        padding-bottom: 40px;
    }

    .user_email {
        margin-right: 5px;
    }

    .feed_back_field {
        font-size: 10px;
    }

    .feed_back_submit {
        min-width: 40px;
        font-size: 8px; 
    }

/* ------------------- Footer bottom -------------------- */

    .social_icon {
        margin-top: 10px;
        margin-right: 15px;
    }

    .first_parag_link {
        line-height: 16px;
    }

    .footer_bottom_business_logo {
        width: 100px;
    }
}