.news {
    color: #999;
}

.news::after {
    content: "";
    clear: both;
    display: table;
}

.news_container {
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 160px;
}

.news_head {
    text-align: center;
}

.news_head h2 {
    color: #359cd1;
    font-size: 36px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.news_list {
    margin-top: 70px;
}

.news_list::after {
    content: "";
    clear: both;
    display: table;
}

.news_item {
    width: 48%;
    float: left;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top: none;
}

.news_item:nth-of-type(even) {
    margin-left: 20px;
}

.news_img {
    width: 100%;
}

.news_title {
    max-width: 430px;
    max-height: 20px;
    overflow: hidden;
    margin: 30px auto 0;
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
    color: #555;
}

.news_description {
    max-width: 430px;
    margin: 30px auto;
    max-height: 40px;
    overflow: hidden;
 }

.news_item a {
    margin-left: 38px;
    color: #1e8bc3;
    font-weight: 500;
}