
.partners {
    min-height: 264px;
    background-color: #1e8bc3;
    margin-top: 90px;
}

.partners::before {
    content: "";
    clear: both;
    display: table;
}

.partners_container {
    max-width: 1030px;
    margin: 0 auto;
}

.partners_container::after {
    content: "";
    clear: both;
    display: table;
 }

.partners_head {
    text-align: center;
    margin-top: 60px;
}

.partners_head h1 {
    color: #fff;
    font-size: 36px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.partners_slider {
    margin-top: 60px;
    text-align: center;
}

.partners_slider::after {
    content: "";
    clear: both;
    display: table;
}

.partners_logo_container {
    float: left;
    margin-left: 40px;
}

.partners_logo_container::after {
    clear: both;
}

.partners_logo_container:first-of-type {
    margin-left: 0;
}

.partners_slider_img_prev,
.partners_slider_img_next {
    margin-bottom: 7px;
    position: relative;
    z-index: 10;
}

.partners_slider_img_prev {
    float: left;
}

.partners_slider_img_next {
    margin-left: 50px;
    float: right;
}


.partners_slider_img_prev:hover, 
.partners_slider_img_next:hover {
    opacity: 0.5;
    cursor: pointer;
}

.partners_slider_img_prev {
    margin-right: 50px;
}

.owl-carousel {
    margin-top: 60px;
}

.partners_logo_container ul {
    list-style-type: none;
}

.partners_logo_container li {
    display: block;
    float: left;
}

.partners_logo_container a {
    background-repeat: no-repeat;
    margin-left: 30px;
    width: 100%;
}

.new_york {
    background-image: url('../images/partners/logos/The_New_York_Times.png');
}

.new_york:hover {
    background-image: url('../images/partners/logos/The_New_York_Times-effect.png');
}

.compar {
    background-image: url('../images/partners/logos/comparecards.png');
}

.compar:hover {
    background-image: url('../images/partners/logos/comparecards-effect.png');
}
.msn {
    background-image: url('../images/partners/logos/MSN.png');
}

.msn:hover {
    background-image: url('../images/partners/logos/MSN-effect.png');
}
.ent {
    background-image: url('../images/partners/logos/ENT.png');
}

.ent:hover {
    background-image: url('../images/partners/logos/ENT-effect.png');
}

.part_link {
    background-repeat: no-repeat;
    margin-left: 30px;
    width: 100%;
}

.part_link:hover {
    opacity: 1;
}

.partners_logo {
    visibility: hidden;
}