.posts {
    color: #999;
    margin-top: 80px;
}

.posts::after {
    clear: both;
    content: "";
    display: table;
}

.global_head.posts_head {
    color: #359cd1;
}

.posts_list {
    margin-top: 80px;
}

.posts_list::after {
    content: "";
    clear: both;
    display: table;
}

.posts_item {
    float: left;
    width: 30%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 10px;
}

.posts_item:nth-of-type(3n+2) {
    margin: 0 20px;
}

.posts_item_img {
    width: 100%;
}

.posts_date {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-date {
    margin-right: 3%;
}

.posts_title {
    max-width: 80%;
    margin: 20px auto;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts_description {
    max-width: 80%;
    margin: 20px auto;
    max-height: 152px;
    overflow: hidden;
}

.posts_title_link {
    color: #555;
}

.posts_btn_container {
    margin-top: 100px;
    text-align: center;
}

.posts_btn {
    background-color: #2e9bd4;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 15px 0;
    max-width: 210px;
    width: 30%;
    border: 6px solid #ededed;
    border-radius: 30px;
}