.posts {
    color: #999;
}

.posts::after {
    clear: both;
    content: "";
    display: table;
}

.posts_container {
    max-width: 1030px;
    margin: 80px auto 0;
}

.posts_container::after {
    clear: both;
    content: "";
    display: table;
}

.posts_head {
    text-align: center;
}

.posts_head h2 {
    color: #359cd1;
    font-size: 36px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.posts_list {
    margin-top: 80px;
}

.posts_list::after {
    content: "";
    clear: both;
    display: table;
}

.posts_item {
    float: left;
    width: 32%;
    max-height: 520px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 10px;
}

.posts_item:nth-of-type(3n+2) {
    margin: 0 20px;
}

.posts_item_img {
    width: 100%;
}

.posts_date {
    max-width: 270px;
    max-height: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-date {
    margin-right: 3%;
}

.posts_title {
    max-width: 270px;
    max-height: 44px;
    margin: 30px auto 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 22px;
    color: #555;
}

.posts_description {
    max-width: 80%;
    margin: 30px auto;
    word-break: break-all;
}

.posts_title_link {
    color: #555;
}

.posts_btn_container {
    margin-top: 100px;
    text-align: center;
}

.posts_btn {
    background-color: #2e9bd4;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 15px 0;
    max-width: 210px;
    width: 30%;
    border: 6px solid #ededed;
    border-radius: 30px;
}