$hover_color: red;

.root {
    .one, .two, .three {
        text-align: center;
        &:hover {
            color: $hover_color;
            transition: all 1s;
            transition-duration: 5s;
            
        }
    }

    .one {
        color: blue;
    }

    .two {
        color: green;
    }

    .three {
        color: yellow;
    }
}
