@font-face {
  font-family: 'font-icon';
  src:  url('fonts/font-icon.eot?r84thw');
  src:  url('fonts/font-icon.eot?r84thw#iefix') format('embedded-opentype'),
    url('fonts/font-icon.ttf?r84thw') format('truetype'),
    url('fonts/font-icon.woff?r84thw') format('woff'),
    url('fonts/font-icon.svg?r84thw#font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bank:before {
  content: "\e903";
}
.icon-rss:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-date:before {
  content: "\10ffff";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
